body{
	background-color :#f0f0f0; 
}
.map{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.buttom{
	position: absolute;
	top: 10%;
	left: 50%;
	transform: translate(-50%, -50%);
}
html,
body {
    display: flex;
    min-height: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: sans-serif;
}
ul,
li {
    list-style: none;
    margin: 0;
    padding: 0;
}
.tg-list {
    text-align: center;
    display: flex;
    align-items: center;
}
.tg-list-item {
    margin: 0 2em;
}
h2 {
    color: #777;
}
h4 {
	margin-left: 9px; 
    color: #282828;
}
.tgl {
    display: none;
}
.tgl, .tgl:after, .tgl:before, .tgl *, .tgl *:after, .tgl *:before, .tgl + .tgl-btn {
    box-sizing: border-box;
}
.tgl::-moz-selection, .tgl:after::-moz-selection, .tgl:before::-moz-selection, .tgl *::-moz-selection, .tgl *:after::-moz-selection, .tgl *:before::-moz-selection, .tgl + .tgl-btn::-moz-selection {
    background: none;
}
.tgl::selection, .tgl:after::selection, .tgl:before::selection, .tgl *::selection, .tgl *:after::selection, .tgl *:before::selection, .tgl + .tgl-btn::selection {
    background: none;
}
.tgl + .tgl-btn {
    outline: 0;
    display: block;
    width: 4em;
    height: 2em;
    position: relative;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.tgl + .tgl-btn:after, .tgl + .tgl-btn:before {
    position: relative;
    display: block;
    content: "";
    width: 50%;
    height: 100%;
}
.tgl + .tgl-btn:after {
    left: 0;
}
.tgl + .tgl-btn:before {
    display: none;
}
.tgl:checked + .tgl-btn:after {
    left: 50%;
	background: #282828;
}
.tgl-light + .tgl-btn {
    background: #282828;
    border-radius: 2em;
    padding: 2px;
    transition: all .4s ease;
}
.tgl-light + .tgl-btn:after {
    border-radius: 50%;
    background: #f0f0f0;
    transition: all .2s ease;
}
.tgl-light:checked + .tgl-btn {
    background: #f0f0f0;
	transition: all .2s ease
}
.user {
  margin: 10px 0px;
  padding-bottom: 10px;
  font-weight: 100;
  font-size: 0.8em;
  color: #888888;
  border-bottom: 1px solid rgb(34, 34, 34);
}
.activ {
	text-align: center;
	position: absolute;
	top: 50%;
	left: 15%;
	transform: translate(-50%, -50%);
}
.use {
	text-align: center;
	position: absolute;
	top: 50%;
	right: 15%;
	transform: translate(50%, -50%);
}
.mb{
	display: inline-block;
	
}
.name{
	position: absolute;
	font-size: 1vh; 
	color: #777;
	bottom: -27vh;
	right: -35vw;
}